.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--base-red);
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: 50px auto;
  position: relative;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
