.recipes_container .infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 10px 5px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .recipes_container .infinite-scroll-component {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .recipes_container .infinite-scroll-component {
    grid-template-columns: 1fr;
    gap: 30px 0;
  }
}
