.bean_container {
  min-height: 90vh;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.bean_container img {
  width: 30%;
}

.bean_container .info {
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.bean_container p {
  color: black;
  font-weight: 300;
  margin: 20px 0;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .bean_container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 70px 0;
  }

  .bean_container img {
    width: 70%;
    object-fit: contain;
  }

  .bean_container .info {
    width: 90%;
  }
}
