.combinations_container .infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.combinations_container .item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--base-red);
  padding: 30px;
  border-radius: 10px;
}

h3 {
  color: var(--base-red);
  margin-bottom: 20px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .combinations_container .infinite-scroll-component {
    grid-template-columns: repeat(2, 45vw);
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .combinations_container .infinite-scroll-component {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }

  .combinations_container .item {
    padding: 30px 20px;
  }

  h3 {
    margin-bottom: 20px;
  }
}
