:root {
  --base-red: #e83a4b;
}

@font-face {
  font-family: "Lobster";
  src: url("./fonts/Lobster.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 40px;
  margin: 0 auto;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin: 50px 0;
  font-size: 48px;
  text-align: center;
  font-family: "Lobster";
  color: var(--base-red);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #root {
    grid-template-rows: 120px 1fr 20px;
  }
}

@media screen and (max-width: 480px) {
  #root {
    grid-template-rows: 80px 1fr 20px;
  }
}
